# 
# Here I'm putting in files and folders
# to be ignored from git.
#
# Cross ignore for dragonstone and
# dragonstone-lang.org website.
#

# Ignore any Output/Build Files.
dragonstone.exe
dragonstone.pdb
dragonstone.res
dragonstone.o
gc.dll
iconv-2.dll
pcre2-8.dll
version.h
NUL
.dragonstone
install-dragonstone.iss
installer
release
.DS_Store
Thumbs.db
/build
/.svelte-kit
node_modules
.output
.vercel
.netlify
.wrangler

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore any Cache that's created.
.cache
.c
.c_cache
.ruby
.ruby_cache
.crystal
.crystal_cache

# Ignore any IDE folders.
.vscode
.idea
.vim

# Annoying IDE ignores.
.fake

# Temporarily Ignoring the bootstrap conversion files.
version.ds
main.ds
cli.ds
run_proc.ds
dragonstone.ds
